@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MongoDB CRUD Demo</p>
    <a asp-controller="Products" asp-action="Index" class="btn btn-success btn-lg">View Products</a>
</div>
